body {
  background: #212529;
  font-family: "Rationale", sans-serif;
  color: #dee2e6;
  margin:50px
}

#saturs {
  color: #dee2e6;
  background: #212529;
  text-align: center;
  border: 2px solid;
  border-radius: 3px;
  vertical-align: middle;
  padding: 3px;
}
h1{
  color: #dee2e6;
  background: #212529;
  text-align: center;
  border: 3px solid;
  border-radius: 100px 100px 3px 3px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.heading {
  color: darkgreen;
  font-style: italic;
  font-size: 25px;
}
img {
  width: 300px;
  height: 210px;
  border: 3px solid;
  color: #dee2e6;
  background: #6c757d;
  border-radius: 200px 200px 3px 3px;
  padding: 20px;
}
.rl {
  color: #dee2e6;
  background: #212529;
  padding: 14px 25px;
}
.box {
  background: #212529;
  border: 3px solid #dee2e6;
  border-radius: 3px;
  width: 750px;
  padding: 20px;
}
a:link,
a:visited {
  color: #dee2e6;
  background: #6c757d;
  border: 2px solid #dee2e6;
  border-radius: 3px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover,
a:active {
  background: white;
  color: black;
  border-color: black;
}
.izkartojums {
  display: flex;
  justify-content: space-between;
}