body {
  background-color: #343a40;
  font-family: "Rationale", sans-serif;
  color: #dee2e6;
}

p {
  font-size: 20px;
}
#saturs {
  color: #dee2e6;
  text-align: center;
  border-style: double;
  background-color: #6c757d;
  margin: 50px;
}
#klimats {
  float: left;
  margin-left: 50px;
}
#apraksts {
  margin-left: 40%;
}
#kjoslas {
  float: right;
  margin-right: 50px;
}
.mainheading {
  color: #dee2e6;
  text-align: center;
  border-style: double;
  background-color: #6c757d;
  margin: 50px;
  padding-left: 80px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 90% 90% 0 0;
}
.heading {
  color: darkgreen;
  font-style: italic;
  font-size: 25px;
}
img {
  width: 200px;
  height: 120px;
  border: double;
  border-width: 5px;
  color: #dee2e6;
  background-color: #6c757d;
  border-radius: 50% 50% 0 0;
}
.kp {
  float: left;
  width: 70%;
  padding: 20px;
}
.rl {
  background-color: white;
  padding: 14px 25px;
}
.lp {
  float: right;
  width: 20%;
  padding: 20px;
}
a:link,
a:visited {
  background-color: #6c757d;
  color: #dee2e6;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-color: #dee2e6;
}

a:hover,
a:active {
  background-color: white;
  color: black;
  border-color: black;
}
