body {
  background-color: #212529;
  font-family: "Rationale", sans-serif;
  color: #dee2e6;
}

p {
  font-size: 20px;
}
#saturs {
  color: #dee2e6;
  background-color: #212529;
  text-align: center;
  border-style: solid;
  border: 2px solid;
  margin: 50px;
  border-radius: 3px;
  vertical-align: middle;
  padding: 3px;
}
.left {
  float: left;
  margin-left: 50px;
}
#mid {
  margin-left: 750px;
}
#mid2 {
  margin-left: 375px;
}
.right {
  float: right;
  margin-right: 50px;
}
.mainheading {
  color: #dee2e6;
  background-color: #212529;
  text-align: center;
  border: 3px solid;
  border-radius: 100px 100px 3px 3px;
  margin: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.heading {
  color: darkgreen;
  font-style: italic;
  font-size: 25px;
}
img {
  width: 300px;
  height: 210px;
  border: solid;
  border-width: 3px;
  color: #dee2e6;
  background-color: #6c757d;
  border-radius: 200px 200px 3px 3px;
  padding: 20px;
}
.kp {
  background-color: #6c757d;
  border-style: solid;
  border-radius: 3px;
  float: left;
  width: 750px;
  padding: 20px;
  margin-left: 50px;
}
.rl {
  color: #dee2e6;
  background-color: #212529;
  padding: 14px 25px;
}
.lp {
  background-color: #6c757d;
  border: 3px solid #dee2e6;
  border-radius: 3px;
  float: right;
  width: 750px;
  padding: 20px;
  margin-right: 50px;
}
a:link,
a:visited {
  color: #dee2e6;
  background-color: #6c757d;
  border: 2px solid #dee2e6;
  border-radius: 3px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: white;
  color: black;
  border-color: black;
}
