body {
  background: #2b2d42;
  font-family: "Rationale", sans-serif;
  color: #dee2e6;
  margin: 50px;
  background-image: url("https://cdn.glitch.com/f2f0c535-bb39-4d70-9aca-c3982e5d065d%2Fadfcde3f-e9d0-4109-8e39-0fc9b1a809b2.image.png?v=1617695598862");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body,
html {
  height: 100%;
}
#saturs {
  color: #2b2d42;
  background: #dee2e6;
  text-align: center;
  border: 2px solid;
  border-radius: 3px;
  vertical-align: middle;
  padding: 3px;
}
h1 {
  color: #dee2e6;
  background: #2b2d42;
  text-align: center;
  border: 3px solid;
  border-radius: 100px 100px 3px 3px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.heading {
  color: darkgreen;
  font-style: italic;
  font-size: 25px;
}
img {
  width: 300px;
  height: 210px;
  border: 3px solid;
  color: #dee2e6;
  background: #6c757d;
  border-radius: 200px 200px 3px 3px;
  padding: 20px;
}
.rl {
  color: #dee2e6;
  background: #2b2d42;
  padding: 14px 25px;
}
.box {
  background: #2b2d42;
  border: 3px solid #dee2e6;
  border-radius: 3px;
  width: 750px;
  padding: 20px;
}
.poga:link,
.poga:visited {
  color: #dee2e6;
  background: #6c757d;
  border: 2px solid #dee2e6;
  border-radius: 3px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.poga:hover,
.poga:active {
  background: white;
  color: black;
  border-color: black;
}
.izkartojums {
  display: flex;
  justify-content: space-between;
}
a {
  color: #2b2d42;
}
