body {
  background: #ffffff;
  color: #d90429;
  font-family: "Barlow", sans-serif;
}
body,
html {
  height: 100%;
}
h1 {
  font-family: "Kaushan Script", cursive;
  color: #d90429;
  background: #ffffff;
  text-align: center;
  border: 0px solid;
  border-radius: 100px 100px 3px 3px;
  font-size: 40px;
}
.heading {
  color: darkgreen;
  font-style: italic;
  font-size: 25px;
}
img {
  width: 600px;
  height: 420px;
  border: 0px solid;
  color: black;
  background: #ffffff;
  border-radius: 3px;
  padding: 0px;
  margin-bottom: 50px;
}
.rl {
  color: black;
  background: #ffffff;
  padding: 14px 25px;
}
.box {
  background: #ffffff;
  border: 3px solid black;
  border-radius: 3px;
  width: 750px;
  padding: 20px;
}
.poga:link,
.poga:visited {
  color: black;
  background: #ffffff;
  border-radius: 3px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 150px;
  font-size: 20px;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}
.poga:hover,
.poga:active {
  background: white;
  color: #d90429;
  border-bottom: 3px solid #d90429;
}
.izkartojums {
  display: flex;
  justify-content: space-evenly;
}
a {
  color: black;
}
hr {
  color: #d90429;
}
.box2 {
  background: #ffffff;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  width: 450px;
  padding: 20px;
}
.rl2{
  color: black;
  background: #ffffff;
  padding: 14px 25px;
}
b {
  color: #d90429;
}
