body {
  background-color: lightgreen;
}
p {
  font-size: 20px;
}
h1 {
  color: purple;
  text-align: center;
  border-style: dotted;
  background-color: white;
  margin: 50px;
  padding-left: 80px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.vr2 {
  color: darkgreen;
  font-style: italic;
}
#t1 {
  color: blue;
}
img {
  width: 200px;
  height: 120px;
  border: double;
  border-width: 10px;
  border-color: #243364;
  border-radius: 10% 0;
}
.kp {
  float: left;
  width: 70%;
  padding: 20px;
}
.rl {
  background-color: white;
  padding: 14px 25px;
}
