.virsraksti{
  color: green;
}
.virsraksti4{
  color: lightgreen;
}
#saraksts{
  color:orange;
}
#izcelums{
  color:red;
}

img{
  height:100px;
  width: 150px;
  border-radius: 10%;
  border: 8px double lightgreen;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}