body {
  background-color: #dee2ff;
}
p {
  font-size: 20px;
}
.mainheading {
  color: #8e9aaf;
  text-align: center;
  border-style: dotted;
  background-color: #feeafa;
  margin: 50px;
  padding-left: 80px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.heading {
  color: darkgreen;
  font-style: italic;
  font-size: 25px;
}
img {
  width: 200px;
  height: 120px;
  border: dotted;
  border-width: 5px;
  border-color: red;
  border-radius: 50% 50% 0 0;
}
.kp {
  float: left;
  width: 70%;
  padding: 20px;
}
.rl {
  background-color: white;
  padding: 14px 25px;
}
.lp {
  float: right;
  width: 20%;
  padding: 20px;
}
a:link,
a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: #cbc0d3;
  color: black;
  border-color:red
}
